* {
    primary: #8ad6b8cc;
    primary-fixed: #a5f2d3;
    primary-fixed-dim: #8ad6b8;
    on-primary: #003829;
    on-primary-fixed: #002117;
    on-primary-fixed-variant: #00513d;
    primary-container: #00513d;
    on-primary-container: #a5f2d3;
    secondary: #b3ccc0;
    secondary-fixed: #cee9db;
    secondary-fixed-dim: #b3ccc0;
    on-secondary: #1e352c;
    on-secondary-fixed: #082018;
    on-secondary-fixed-variant: #354c42;
    secondary-container: #354c42;
    on-secondary-container: #cee9db;
    tertiary: #a7cce1;
    tertiary-fixed: #c2e8fd;
    tertiary-fixed-dim: #a7cce1;
    on-tertiary: #0a3445;
    on-tertiary-fixed: #001e2b;
    on-tertiary-fixed-variant: #264b5c;
    tertiary-container: #264b5c;
    on-tertiary-container: #c2e8fd;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0f1512cc;
    on-surface: #dee4dfcc;
    on-surface-variant: #bfc9c3;
    outline: #89938d;
    outline-variant: #404944;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dee4df;
    inverse-on-surface: #2c322f;
    inverse-primary: #186b52;
    surface-dim: #0f1512;
    surface-bright: #343b37;
    surface-container-lowest: #0a0f0d;
    surface-container-low: #171d1a;
    surface-container: #1b211e;
    surface-container-high: #252b28;
    surface-container-highest: #303633;
}
